<!-- Reveal Modals begin -->
<div id="forgetPasswordModal" class="reveal-modal" data-reveal aria-labelledby="forgetPasswordModal" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="large-12 columns">
            <h5 id="posHeader" class="text-left">Find you password by your Email</h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
                <input type="text" id="postTitle" placeholder="Please input your email"/>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns"><a id="findPasswordBtn" class="button tiny">Submit</a>
            </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>