<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>TgLnk</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.javascripts"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="/stylesheets/mobile.css" type="text/css"/>

</head>
<body>
<div id="background"><div id="backgroundCover"></div></div>
<div class="modal-backdrop hide">
<span id="loadingAnimated"><i class="fa fa-spinner fa-spin fa-2x"></i>
</span>
</div>
<%include nav.html%>

