<!--landing page start-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TgLnk </title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/landingPageStyle.css">
</head>
<body>

<!--set up landing page background and its cover-->
<div id="background"><div id="backgroundCover"></div></div>

<!--exact content that displayed on the browser-->
<div class="row vertical vertical-center">
    <div class="large-6 medium-6 columns small-6 text-right">
        <img src="/images/sys/iphone.png">
    </div>
    <div class="large-6 medium-6 small-6  text-left columns">
        <h1 id="head_title" class="fontColor_white">Tglnk</h1>

        <p class="sub_title_lineOne fontColor_white">Online Community Noticeboards</p>

        <p class="sub_title_lineTwo fontColor_white">Post.View</p>

        <p class="sub_title_lineThree fontColor_white">Anytime.Anywhere</p>

        <img src="/images/sys/appleStoreAv.png">
    </div>
</div>


<!--footer page-->
    <footer>
        <div class="row">
            <div class="large-12 small-12 medium-12 columns" id="landerFooter">
                <ul class="inline-list footerNav">
                    <li><a href="/">@TgLnk 2015</a></li>
                    <li class="hide-for-small-only"><a href="#">Terms of Service</a></li>
                    <li class="hide-for-small-only"><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
        </div>
    </footer>
</body>
</html>
<!--landing page end-->
