<!-- Reveal Modals begin -->
<div id="privacyPolicyModal" class="reveal-modal" data-reveal aria-labelledby="termOfServiceTitle" aria-hidden="true"
     role="dialog">
    <div class="row">
        <div class="large-12 columns text-center">
            <h2 id="loginTitle">TgLnk Privacy Policy</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 19px;">
        <div class="large-12 small-12 medium-12 columns">
            <article>
                <p>
                    This Privacy Policy describes how we collect, use, and share your information when you use TgLnk
                    Services (“Services”) through our websites and apps. If you have any concern regarding to privacy
                    issues of using our Services, please visit this page for the most updated information of our Privacy
                    Policy. If you have any questions or comments about this Privacy Policy, please contact us. When
                    using any of our Services, you consent to the collection, use, and share of your information as
                    described in this Privacy Policy.
                </p>

                <p>
                    Like many popular online service providers, we collect, use, and share your information to provide
                    our Services and to measure and improve them over time.
                </p>

                <p>
                    We collect information on how you use our Services through our websites and our apps, and the
                    information you provide us when using our Services. Such information includes, but not limited to,
                    user
                    name, email address, location, device information, and Internet Protocol (IP) address. By connecting
                    to
                    us through a third-party service or connecting us to a third-party service (e.g., payment service),
                    you
                    give us permission to access, use, and store your information (including access credentials) as
                    permitted by that service. All the information we collect is stored through highly reputable
                    third-party
                    provider of cloud computing service. As a result, your information may be transferred to and stored
                    on
                    servers in various locations of different countries.
                </p>

                <p>
                    On our Services, your name and username are listed publicly. We aim to protect your privacy and do
                    not publicly disclose your personally identifiable information including contact information (e.g.,
                    email address, phone number, physical address), identity information (such as driver license, if
                    applicable), and (depending on the service used) sometimes financial information (e.g., bank account
                    numbers) except in the limited circumstances described here. We may share or disclose your
                    information at your consensus and instruction, such as posting content publicly, interacting with
                    other users, and when you authorize a third-party application to access your TgLnk account and other
                    relevant information such as phone number and address. We may share aggregated data of usage
                    information (either directly or through third-parties) with our users (e.g., your friends) and
                    third-parties. We may preserve or disclose your information if we believe that it is reasonably
                    necessary to do so, such as providing services to our users either directly or through
                    third-parties, complying with a law, regulation or legal request, and helping a third-party.
                </p>

                <p>
                    We may update this Privacy Policy from time to time. If we make a change to this Privacy Policy
                    that, in our sole discretion, is material, we will notify you via an email to the email address
                    associated with your account. By continuing to use our Services, you agree to be bound by this
                    Privacy Policy.
                </p>

            </article>
        </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>