<!-- Reveal Modals begin -->
<div id="termOfServiceModal" class="reveal-modal" data-reveal aria-labelledby="termOfServiceTitle" aria-hidden="true"
     role="dialog">
    <div class="row">
        <div class="large-12 columns text-center">
            <h2 id="loginTitle">TgLnk Terms of Service</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 19px;">
        <div class="large-12 small-12 medium-12 columns">
            <article>
                <p>
                    These Terms of Service (“Terms”) govern your use of the services (“Services”) provided by TgLnk
                    (“TgLnk”, “we”, or “us”) through our websites and apps, any information such as text, graphics,
                    photos or other materials uploaded, downloaded or appearing on the Services (collectively referred
                    to as “Content”). Please read these Terms carefully, and contact us if you have any questions. By
                    using our Services, you consent to be bound by these Terms and by our Privacy Policy.
                </p>

                <p>
                    1. Basic Terms
                </p>

                <p>
                    In order to use our Services, you must be the age of 16 or older and are able to form a binding
                    contract with us in compliance with these Terms and all applicable local, state, national, and
                    international laws, rules, and regulations. You are solely responsible for any activity that occurs
                    through your account. You are responsible for your use of our Services, such as creating and posting
                    content through our Services, and for any consequences thereof. If you use our services on behalf of
                    an organization or entity, “you” refers to both you and that organization or entity; and you
                    represent and warrant that you are fully authorized to consent to the Terms on behalf of the
                    organization or entity.
                </p>

                <p>
                    By connecting to us through a third-party service, you give us permission to access, use, store, and
                    update your information (including access credentials) as permitted by that service.
                </p>

                <p>
                    You are strictly prohibited from inappropriate use of our Services, including, but not limited to,
                    posting violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic
                    or sexually suggestive content, violating rights of any third-party, transmitting spam, or defaming,
                    stalking, bullying, abusing, harassing, threatening, or intimidating people or entities. You agree
                    to defend, indemnify and hold harmless TgLnk and its subsidiaries, entities, agents, licensors,
                    managers, and other affiliated companies, and their employees, contractors, agents, officers and
                    directors, from and against any and all claims, suits, proceedings, disputes, damages, obligations,
                    losses, liabilities, costs or debt, and expenses, including, without limitation, legal and
                    accounting fees, arising from your use of our Services.
                </p>

                <p>
                    Subject to these Terms and our policies, we grant you a limited, non-exclusive, non-transferable,
                    and freely revocable license to use our Services. By using our Services, you agree that we will
                    communicate with you through the email address associated with your account instead of postal mail,
                    and your account may be terminated or suspended at our sole discretion at any time without notice
                    and liability for any reason. Upon termination, all licenses and other rights granted to you in
                    these Terms will immediately cease. You agree that disputes between you and us or our affiliates
                    will be resolved by binding and individual arbitration and you waiver your rights to participate in
                    a class action lawsuit or class-wide arbitration.
                </p>


                <p>
                    All Content, whether publicly posted or privately transmitted, is the sole responsibility of the
                    person who originated and/or initiated such Content. We do not endorse, support, represent, verify,
                    or guarantee the completeness, truthfulness, accuracy, appropriateness, or reliability of any
                    Content or communications posted via the Services or endorse any opinions expressed via the
                    Services. Under no circumstances will we take any responsibility for such Content and your use of
                    our Services. Any use or reliance on any Content or materials posted via the Services or obtained by
                    you through the Services is at your own risk.
                </p>

                <p>
                    You retain your rights to any Content you submit, post or display on or through the Services. By
                    submitting, posting or displaying Content on or through the Services, you grant us and our users
                    (those use our Services) a worldwide, non-exclusive, royalty-free license (with the right to
                    sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and
                    distribute such Content in any and all media or distribution methods (now known or later developed).
                    Following termination or deactivation of your account, or if you remove any Content from our
                    Services, we may retain your Content for a commercially reasonable period of time for backup,
                    archival, or audit purposes. Furthermore, our users may retain and continue to use, store, display,
                    reproduce, modify, create derivative works, perform, and distribute any of your Content that other
                    users have stored or shared through the Services.
                </p>


                <p>
                    We reserve the right to modify or terminate the Service for any reason, without notice, at any time,
                    and without liability to you. We reserve the right at all times (but will not have an obligation)
                    for any reason to remove, modify, or refuse to distribute any Content on our Services, to suspend or
                    terminate users, and to reclaim usernames and content identity (ID) without liability to you. We
                    also reserve the right to access, read, preserve, and disclose any information as we believe it is
                    reasonably necessary to (i) comply with any applicable law, regulation, legal process or
                    governmental request, (ii) enforce the Terms, including investigation of potential violations
                    hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv)
                    respond to user support requests, or (v) protect our rights, property or safety, our users and the
                    public.
                </p>

                <p>
                    We may revise these Terms from time to time and the most current version will always be available on
                    our website. If there is a change that, in our sole discretion, is material, we will notify you via
                    an email to the email address associated with your account. By continuing to use the Services after
                    revisions become effective, you agree to be bound by the revised Terms; otherwise, you need to stop
                    using our Services.
                </p>

                <p>
                    3. Copyright Policy
                </p>

                <p>
                    We respect the intellectual property rights of others and expects users of our Services to do the
                    same. It is your sole responsibility to ensure that your use of any Content complies with applicable
                    law. We will respond to notices of alleged copyright infringement that comply with applicable law
                    and are properly provided to us. We reserve the right to remove Content alleged to be infringing
                    without prior notice, at our sole discretion, and without liability to you. At our sole discretion,
                    we will also terminate a user’s account if the user is determined to be a repeat infringer.
                </p>

                <p>
                    Our services are to help users distribute information including those created by themselves and/or
                    those reproduced and/or shared from third-party sources. If you believe that your Content has been
                    copied in a way that constitutes copyright infringement, please contact us first before taking any
                    dispute action.
                </p>

                <p>4. Disclaimers and Limitations of Liability</p>

                <p>
                    The Services and all included Content are provided on an "as is" basis without warranty of any kind,
                    whether express or implied. Use of our Services is at your own risk and we take no responsibility
                    and assume no liability for any Content that you or any other user or third party posts or transmits
                    using our Services. You understand and agree that you may be exposed to Content that is inaccurate,
                    objectionable, inappropriate for children, or otherwise unsuited to your purpose.
                </p>

                <p>
                    We care about the security of our users like you and choose highly reputable third-party provider of
                    cloud computing service to provide you Services. As a result, your information may be transferred to
                    and stored on servers in various locations of different countries. While aiming to protect the
                    security of your Content and information, we cannot guarantee that unauthorized third parties will
                    not be able to defeat our security measures, hence will not take any responsibility for security
                    breach. You must notify us immediately of any suspicious use of your account.
                </p>

                <p>
                    TO THE MAXIMUM EXTENT PERMITTED BY LAW, TGLNK, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES,
                    SUPPLIERS, OR LICENSORS, SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
                    PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR
                    ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR
                    USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON
                    THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER
                    USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR
                    CONTENT. IN NO EVENT SHALL OUR AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES EXCEED
                    ONE HUNDRED AUSTRALIAN DOLLARS (AU$100.00).
                </p>


            </article>
        </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>